{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}

    <h1>Registrase</h1>

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.Nombre) }}
        {{ form_row(registrationForm.Apellido) }}
        {{ form_row(registrationForm.Profesion) }}
        {{ form_row(registrationForm.Cedula) }}
        {{ form_row(registrationForm.image) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
     

        <button type="submit" class="btn btn-primary">Registrar</button>
    {{ form_end(registrationForm) }}
    <p>Login <a href="{{ path('app_login') }}" class="link-info"></a></p>
{% endblock %}
